<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>HOME MEDIA</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>

        <section class="webdesigntuts-workshop">
            <form action="" method="">
                <input type="search" placeholder="Enter url of youtube video." id="search">
                <button id="btn-search">SEARCH</button>
            </form>
            <ul id="results">
            </ul>
        </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(() => {
            let $results = $('#results');

            function addResult(result) {
                let ytId = result.id.videoId;
                if (!ytId) {
                    return;
                }

                let $result = $(`<li><a class="item" href="">${result.snippet.title}</a></li>`);

                $result.click(function (e) {
                    e.preventDefault();
                    $.get(`/yt-stream/${ytId}`);
                });

                $results.append($result);
            }

            $('#btn-search').click((e) => {
                e.preventDefault();
                let searchQ = $('#search').val();
                if (!searchQ) {
                    return;
                }

                $results.empty();
                $.get(`/search/?q=${searchQ}`)
                .done((data) => {
                    JSON.parse(data).items.forEach(addResult);
                });
            });
        });
    </script>
    </body>
</html>
